/* Add this to your existing CSS or create a new file, e.g., news.css */

/* Breaking News styles */
.breaking-container{
    margin: 0;
    padding: 0;
}

.breaking-news {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    overflow: hidden;
}

.news-scroll {
    background-color: #007bff;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
}

.news-scroll a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.news-card {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

/* Weather Card */
.weather-container{
    width: 100%;
}

.weather-cards{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

.weather-card{
    width: 490px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #BABABA;
}

.weather-inside{
    width: 441px;
    height: 387px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
}

.weather-inside .title h1{
    font-size: xx-large;
}

.weather-inside .title img{
    width: 30px;
}

.weather-inside .title .condition{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-inside .title .condition p{
    margin: 0;
    font-size: 18px;
}

.weather-inside .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.weather-inside .info .temp{
    display: flex;
    flex-direction: column;
}

.weather-inside .info .temp .current{
    display: flex;
}

.weather-inside .info .temp h1#temp_c{
    line-height: 0.9;
    font-size: 120px;
}

.weather-inside .info .temp h1#deg{
    font-size: 30px;
}

.weather-inside .info .temp p{
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 17px;
}

.weather-inside .info .index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-inside .info .index .defra-idx{
    padding: 2px 4px;
    width: 100%;
    max-height: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.weather-inside .info .index h1{
    margin-bottom: 0;
    font-size: medium;
}

.weather-inside .info .index p{
    margin-bottom: 0;
    width: 200px;
    height: auto;
    max-height: 100%;
    text-align: center;
    font-size: 13px;
}

.weather-inside .info .index .graph{
    display: flex;
    flex-direction: row;
}

.weather-inside .info .index .graph p{
    margin: 0;
    width: 50px;
    font-size: 13px;
    letter-spacing: 1px;
}

.weather-inside .update{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.weather-inside .update form{
    margin: 0;
}

.weather-inside .update button{
    margin: 0;
}

.weather-inside .update .time{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.weather-inside .update .time h1{
    margin-bottom: 0;
    font-size: medium;
    font-weight: bold;
}

.weather-inside .update .time p{
    margin-bottom: 0;
    font-size: large;
}

/* News Card List styles */
.news-container{
    min-height: 100dvh;
    flex: 1;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 480px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: grid;
    justify-items: stretch;
    grid-template-rows: repeat(auto-fit, 250px);
}

.card-header {
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-header img {
    aspect-ratio: 1/1;
    width: 100%;
    max-height: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.card-header a {
    width: 100%;
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    display: block;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.card-body a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.card-body a:hover {
    text-decoration: underline;
}

.card form{
    margin-bottom: 0;
    justify-self: end;
    align-self: end;
}

.card button{
    padding: 5px 10px;
    justify-self: end;
    align-self: end;
    color: white;
    background-color: #007bff;
    border-style: solid;
    border-color: #007bff;
    border-radius: 10px 0 5px 0;
    border-width: 2px 0 0 2px;
    font-size: 17.5px;
    transition: 200ms;
}

.card button:hover{
    color: #007bff;
    background-color: white;
}

.card button:active{
    color: white;
    background-color: #007bff;
    border-color: white;
}

.weather-new{
    width: 441px;
    height: 387px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
}

.weather-new form{
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-card button{
    margin: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    border-style: solid;
    border-color: #007bff;
    border-radius: 10px;
    font-size: 17.5px;
    transition: 200ms;
}

/* @media screen and (max-width: 395px) 
@media screen and (min-width: 395px) and (max-width: 480px)
@media screen and (min-width: 480px) and (max-width: 600px)
@media screen and (min-width: 600px) and (max-width: 660px)
@media screen and (min-width: 660px) and (max-width: 768px)
@media screen and (min-width: 768px) and (max-width: 880px)
@media screen and (min-width: 880px) and (max-width: 992px)
@media screen and (min-width: 992px) and (max-width: 1200px)
@media screen and (min-width: 1200px) and (max-width: 1382px) */